@model State.Controllers.StateController  

<form method="post" asp-action="SetUserData">  
    <label for="username">Username:</label>  
    <input type="text" id="username" name="username" required><br>
    <label for="message">Message:</label>  
    <input type="text" id="message" name="message" required><br>  
    <button type="submit">Submit</button>  
</form>  