@page  
@model State.Controllers.StateController  

<form method="post" asp-action="SetCookie">  
    <label for="data">Enter Cookie:</label>  
    <input type="text" name="data" required />  
    <button type="submit">Submit</button>  
</form>  